body{
	margin: auto;
}
.contain{
	display: flex;
	justify-content: center;
}
.container{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	justify-content: space-around;
}
h2{
	font-family: 'Yellowtail', cursive;
	font-weight: 1px;
	font-size: 2em;
	width: 480px;
	border-bottom: 1px solid red;
	text-align: center;
	letter-spacing: 3px;
	margin-left: 350px;

}
img{
	height: 300px;
	width: 450px;
	margin: 40px;
	transition: all 0.5s ease;
	border: 3px solid grey;
	border-radius: 20px;
	box-shadow: 3px 3px 3px grey;
}
img:hover{
	border-radius: 50px 50px 50px 50px;
	transform: translate(100px) ease-in-out;
	transform: scale(1.1);


}